.container{
    /* aligning content */
    align-content: center;
    align-items: center;
    /* margin: auto; */
    vertical-align: middle;
    text-align: center;

    /* template grid setting */
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    grid-template-rows: 30% 30% 30%;
    row-gap: 10px;

    width: 100vw;
    height: 200vh;
}
#title{
        
    /* fonts */
    font-family: 'Pacifico', cursive;
    /* -webkit-text-stroke: 1px black; */
    color: white;
    font-size: 100px;
    margin-bottom: 15%;
}
#summary{
    /* font-family: 'Pacifico', cursive; */
    /* -webkit-text-stroke: 1px black; */
    /* color: white; */
    margin-bottom: 15%
}
#title-section{
    /* height: 100%; */
    /* sizing title section */
    height: 100vh;
    padding-top: 17%;
    padding-bottom: 17%;
    margin-bottom: 5%;

    /* parallax */
    background-image: radial-gradient(#00b09b, #96c93d);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%
}
.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid #fff;
    border-radius: 25px
}
@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}


#try-now{
    margin-bottom: 5%;
}
button{
    background-color: #4CAF50;
    width:130px;
    border: 2 black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    margin-right: 44px;
    margin-left: 44px;
    border-radius: 50px;
}

a:visited{
    color: white;
    text-decoration: none;
}
h1{
    font-size: 200px;
}
h6{
    display: inline;
    margin-left: 3.2%;
    margin-right: 3.2%;
}