section{
    text-align: center;
}
h2 {
    color: green;
    font-weight: 2;
}
.artist{
    display: flex;
    margin: auto;
    margin-left: 15%;
    margin-bottom: 10px;
    align-content: center;
}
.artist-name{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-right: 60px;
}

.track{
    display: flex;
    margin: auto;
    margin-left: 15%;
    margin-bottom: 10px;
    align-content: center;
}
.track-name{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-right: 60px;
}