<!DOCTYPE html>
<html>
  <head>
    <title>SpotiPy</title>
  </head>
  <body>
    <section>
        <!-- <button> <a href='https://accounts.spotify.com/authorize?client_id=61bb4c3ea3c24253a738bd8f34956191&response_type=token&redirect_uri=https%3A%2F%2Fspotipy1.herokuapp.com%2Fresults/'> Login to Spotify! </a></button> -->
        <button> <a href='http://accounts.spotify.com/authorize?client_id=61bb4c3ea3c24253a738bd8f34956191&response_type=token&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2Fresults/'> Login to Spotify! </a></button>

    </section>
  </body>
</html>
